body {
  margin: 0;
  margin-bottom: 100px;
}

h1{
  text-align: center;
}

hr {
  border-color: #fd8f00;
}

form {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}
  
th, td {
  text-align: left;
  padding: 8px;
}
  
tr:nth-child(even){background-color: #f2f2f22e}
  
th {
  background-color: #fd8f00;
  color: white;
}
  
.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  padding: 16px;
}
  
.menu img {
  width: 300px;
  height: 200px;
}
  
.menu p {
  text-align: center;
}
  
.menu:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
} 